body {
    background-image: url("./Image/flow2background.png");
}

.aligne_le_menu {
    display:flex;
    justify-content: flex-start;
}

.range_les_elements {
    margin: 1%;
}

.aligne_au_milieu {
    display:flex;
    justify-content: center;
}