@font-face {
    font-family: 'Inter';
    font-style:  normal;
    src : local(''),
    url('./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 400;
    src : local(''),
    url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style:  normal;
    font-weight: 700;
    src : local(''),
    url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

body{
    font-family: 'poppins', sans-serif;
}

main{
    padding-left : 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


*{
    margin : 0;
    padding: 0;

}


h1{
    text-align: center;
    font-weight: 700;
}

.serie{
    display: flex;
    margin-top: 20vh;
    margin-bottom : 3rem;
}


.content-series{
    margin-left: 2rem;

}

.serie img {
    min-height: 20rem;
    max-height: 20rem;
}

@media screen and (max-width: 900px) { /*sur écran de moins de 900px de large*/
    .serie {
        flex-direction: column; 
        align-items: center;
    }

    .content-series{
        margin-left: 0;
        margin-top: 1.5rem;
    }



}