@font-face {
    font-family: Inter;
    src: 
    local(Inter),
    url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
}



/*Style du header*/
header {
    padding : 2vh 1vw;
    background: black;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

li {
    color: white;
    list-style-type: none;
    margin: 1%;
    margin: auto 3vw;
}

header li:first-of-type {
    margin-left: 0;
}

header img {
    max-width: 9vw;
}

header img:hover {
    transform:scale(1.1);
    transform:rotate(5deg);
    transition: 0.5s ease-in-out;
}

.aligne_le_menu {
    display:flex;
    justify-content: flex-start;
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
    font-family: Inter;
}

a:hover {
    color: grey;
    text-decoration: underline;
    transition: 0.5s;
}

/*-------------------*/


main {
    margin-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

h1>span,
h2>span {
    color: #E43E54;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #E43E54;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}


article {
    display: flex;
    margin-top: 15vh;
    margin-bottom: 3rem;
}

#content-series p>strong {
    text-decoration: underline;
}

b {
    /*balise déjà présente dans le json de la réponse*/
    color: #E43E54;
}


#content-series {
    margin-left: 2rem;

}

article img {
    min-height: 20rem;
    max-height: 20rem;
}

@media screen and (max-width: 900px) {

    /*sur écran de moins de 900px de large*/
    article {
        flex-direction: column;
        align-items: center;
    }

    #content-series {
        margin-left: 0;
        margin-top: 1.5rem;
    }
}