@font-face {
    font-family: Inter;
    src: 
    local(Inter),
    url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
}



/*Style du header*/
header {
    padding : 2vh 1vw;
    background: black;
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

li {
    color: white;
    list-style-type: none;
    margin: 1%;
    margin: auto 3vw;
}

header li:first-of-type {
    margin-left: 0;
}

header img {
    max-width: 9vw;
}

header img:hover {
    transform:scale(1.1);
    transform:rotate(5deg);
    transition: 0.5s ease-in-out;
}

.aligne_le_menu {
    display:flex;
    justify-content: flex-start;
    margin: 0%;
}

a {
    text-decoration: none;
    color: white;
    font-family: Inter;
}

a:hover {
    color: grey;
    text-decoration: underline;
    transition: 0.5s;
}

/*-------------------*/


main {
    margin-top: 5vh;
    margin-bottom: 20vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

h1>span,
h2>span {
    color: #E43E54;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: transparent;
    border: 1px solid #E43E54;
    color: #E43E54;
    transition: 0.5s;
    border-radius: 25px;
    padding: 0.5rem 3rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #E43E54;
    transform:scale(1.1);
    color: white;
    border: none;
}

article{
    margin-top: 10vh;
}

#serie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#personality{
    text-align: center;
}

#serie #content p>strong {
    text-decoration: underline;
}


b {
    /*balise déjà présente dans le json de la réponse*/
    color: #E43E54;
}

#serie #content {
    max-width: 50rem;
}

article img {
    min-height: 20rem;
    max-height: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


footer{
    text-align: center;
    background-color: black;
    color: white;
}

footer>div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vh 0 5vh 0;
    
}

#contact{
    min-width: 25rem;
}
