/* * {
    margin: 0; --> Conseillé de mettre ça au début mais ça casse certains trucs de la page, on verra ça à la fin
}*/

@font-face {
    font-family: Inter;
    src: 
    local(Inter),
    url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

body {
    margin: 0;
}

header {
    /*background-color: black;*/
    padding : 2vh 1vw;
    background: linear-gradient(black 75%, transparent);
}

li {
    color: white;
    list-style-type: none;
    margin: 1%;
    margin: auto 3vw;
}

header li:first-of-type {
    margin-left: 0;
}

header img {
    max-width: 9vw;
}

header img:hover {
    transform:scale(1.1);
    transform:rotate(5deg);
    transition: 0.5s ease-in-out;
}

.aligne_le_menu {
    display:flex;
    justify-content: flex-start;
    margin: 0%;
}

#fond_accueil {
    background-image: url("./Image/flow2background.png");
    height:90vh;
}

h1 {
    color: white;
    margin: 0%;
    padding-top: 10vh;
    font-family: Inter-Bold;
}

a {
    text-decoration: none;
    color: white;
    font-family: Inter;
}

a:hover {
    color: grey;
    transition: 1s;
}

.aligne_au_milieu {
    display:flex;
    justify-content: center;
}


