/*IMPORT FONTS*/

@font-face {
    font-family: Inter;
    src: 
    local(Inter),
    url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: 
    local(Poppins),
    url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    src: local(''),
        url('./fonts/Poppins/Poppins-Bold.ttf');
}

/* DEFAULT VALUES */

* {
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
}

/*Style for the header------------------------------------------*/

header {
    background-color: black;
    padding : 2vh 1vw;
}

header ul {
    display:flex;
}

header li {
    color: white;
    list-style-type: none;
    margin: 1%;
    margin: auto 3vw;
}

header li:first-of-type {
    margin-left: 0;
}

header img {
    max-width: 9vw;
    transition : 0.5s;
}

header img:hover {
    transform:scale(1.1);
    transform:rotate(5deg);
    transition: 0.5s;
}

header a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    transition: 1s;
}

header a:hover {
    color: grey;
    transition: 1s;
}

/*Homepage's style------------------------------------------*/

#home_section {
    display:flex;
    padding-top: 15vh;
    flex-direction:column;
    align-items: center;
    text-align: center;

    background-image: url("./Image/flow2background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height:75vh;
}

#home_section>h1 {
    color: white;
    font-weight: 800;
    padding: 0 10vw;
    font-family: Inter;
    letter-spacing:0.3em;
    font-size: 3rem;
}

#home_section>p {
    font-family: Poppins;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%; 
}

#home_section>button {
    font-family: Poppins;
    font-size: 1.5rem;
    background-color:rgb(228, 62, 84);
    border-radius: 25px;
    padding: 0.5rem 3rem;
    color: white;
    border-style: none;
    transition: 0.25s;
}

#home_section>button:hover {
    transform:scale(1.1);
    transition: 0.25s;
    background-color: black;
    color: white;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
    font-family: Poppins;
    text-align: center;
}

#features>div {
    width: 50vw;
    margin-top: 5vh;
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 3vh 5vw;
}

#features img {
    margin: auto;
}

#presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F8F8F8;
    padding: 5vh 5vw;
}

#presentation>img{
    max-height: 25vh;
    margin: 0 1vw;
}

#presentation>article{
    max-width: 50vw;
    text-align: justify;
}

#links {
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    background-color: rgb(228, 62, 84);
    color:white;
    font-family: Poppins;
    font-size: 1.25rem;
    padding: 3vh 0;
}

#links > nav {
    margin: 3vh 0;
}

/*Buttons style*/

button {
    border: none;
    transition: 0.5s;
    border-radius: 25px;
    padding: 0.5rem 4rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
    min-width: 15em;
}

button:hover {
    transform:scale(1.1);    
}

.blackButton{
    background-color: black;
    color: white;
}

.blackButton:hover{
    background-color: white;
    color: black;
}

/*For series and personnalities page-----------------------------------*/

#main-content {
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main-content h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}

#main-content>h1>span,
#main-content>h2>span {
    color: #E43E54;
}

#main-content>h2 {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.redButton{
    background-color: transparent;
    border: 1px solid #E43E54;
    color: #E43E54;
}

.redButton:hover{
    background-color: #E43E54;
    color: white;
    border: none;
}

article{
    margin-top: 3vh;
}

#serie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#personality {
    text-align: center;
}

#serie #article-content p>strong {
    text-decoration: underline;
}


b {
    /*balise déjà présente dans le json de la réponse*/
    color: #E43E54;
}

#serie #article-content {
    max-width: 50rem;
}

article img {
    height: 20rem;
    margin: 2rem;
}

#serie p {
    text-align: justify;
}


/*Footer--------------------------------------------------------------*/

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3vh;
}

footer>div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom : 3vh;
}

footer img {
    transition: 1s;
}

footer img:hover {
    transition: 1s;
    transform: rotate(360deg);
}

footer a {
    color :white;
    text-decoration: none;
}

footer a:hover {
    color :white;
    text-decoration: underline;
}

address{
    font-style: normal;
}

/*Avoidance link------------------------------------------------------------*/

#avoidance{
    padding: 1rem;
    position: absolute;
    left: -99999rem;
}

#avoidance:focus-within {
    position: static;
}

/* MOBILE VERSION - HORIZONTAL */

@media screen and (max-width: 1000px) {

    header img {
        max-width: 15vw;
    }

    /* Homepage */

    #home_section>h1 {
        font-size: 1.5rem;
    }

    #homepage p {
        padding: 3vh 5vw;
    }

    #home_section>p {
        margin-top: 3vh;
    }

    #home_section>button {
        min-width: 0;
    }

    #features>div {
        margin-top: 0;
        width: 75vw;
    }

    #features img {
        max-width: 15vw;
    }

    #features>div>p {
        padding: 0;
        font-size: 0.75rem;
    }

    #presentation {
        padding-top: 0;
    }
    
    #presentation>article{
        max-width: 100vw;
    }

    #presentation h2 {
        text-align: center;
    }

    #presentation img{
        max-height: 50vh;
    }

    /* Search pages */

    #main-content {
        padding: 5vh 10vw 10vh 10vw;
    }

    #personality {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    /* Footer */

    footer p {
        font-size: 0.75rem;
    }
}

/* MOBILE VERSION - VERTICAL*/

@media screen and (max-width: 500px) {

    /* Menu */

    header ul {
        justify-content: center;
        padding: 0;
    }

    header a {
        font-size: 0.95rem;
    
    }

    header img {
        max-width: 25vw;
    }

    /* Homepage */

    #homepage p {
        padding: 5vw;
    }

    #home_section>button {
        margin-top: 3vh;
    }

    h2 {
        font-size: 1.25rem;
    }

    #features, #links{
        padding: 3vh 0;
    }

    #features>div {
        width: 95vw;
    }

    #features img {
        max-width: 20vw;
    }

    #presentation {
        padding: 3vh 3vw;
    }

    #presentation>article{
        max-width: 95vw;
    }

    #presentation>img {
        max-width: 95vw;
    }

    #links {
        padding-bottom: 0;
    }

    #links button {
        margin: 1vh;
    }

    /* Search pages */

    #main-content {
        padding: 3vh 3vw;
    }

    #main-content>h1 {
        font-size: 1.5rem;
    }

    #main-content>h2 {
        margin: 1rem;
    }

    article {
        margin-top: 0;
    }

    #article-content {
        padding: 0 3vw;
    }

    #serie-title {
        text-align: center;
    }

    #main-content p {
        padding: 0 3vw;
    }
}