* {
    margin: 0;
}

@font-face {
    font-family: Inter;
    src: 
    local(Inter),
    url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: Poppins;
    src: 
    local(Poppins),
    url("./fonts/Poppins/Poppins-Regular.ttf");
}

body {
    margin: 0;
    font-family: 'poppins', sans-serif;
}

header {
    background-color: black;
    padding : 2vh 1vw;
}

li {
    color: white;
    list-style-type: none;
    margin: 1%;
    margin: auto 3vw;
}

header li:first-of-type {
    margin-left: 0;
}

header img {
    max-width: 9vw;
    transition : 0.5s;
}

header img:hover {
    transform:scale(1.1);
    transform:rotate(5deg);
    transition: 0.5s;
}

.aligne_le_menu {
    display:flex;
    justify-content: flex-start;
    margin: 0%;
}

#accueil {
    display:flex;
    padding-top: 15vh;
    flex-direction:column;
    text-align: center;

    background-image: url("./Image/flow2background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    height:91vh;
}

h1 {
    color: white;
    margin: 0%;
    margin-left: 13%;
    margin-right: 13%;
    font-family: Inter;
    letter-spacing:0.3em;
    font-size: 3rem;
}

#texte_du_début {
    font-family: Poppins;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%; 
}

#Learn_more {
    font-family: Poppins;
    font-size: 1.5rem;
    background-color:rgb(228, 62, 84);
    border-radius: 25px;
    padding: 0.5rem 3rem;
    color: white;
    margin: 0 auto;
    border-style: none;
    transition: 0.25s;
}

#Learn_more:hover {
    transform:scale(1.1);
    transition: 0.25s;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: Inter;
    transition: 1s;
}

a:hover {
    color: grey;
    transition: 1s;
}

#fonctionnalites {
    padding: 5vh 0;
    font-family: Poppins;
    text-align: center;
}

section#fonctionnalites > nav {
    padding-top: 5vh;
}

section#fonctionnalites > nav > a {
    margin: 3vw;
}

#lien {
    display:flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    background-color: rgb(228, 62, 84);
    color:white;
    font-family: Poppins;
    font-size: 1.25rem;
    padding: 5vh;
}

button {
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: 0.5s;
    border-radius: 25px;
    padding: 0.5rem 4rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 3%;
    margin-right: 3%;
    min-width: 15em;
}

button:hover {
    background-color: white;
    transform:scale(1.1);
    color: black;
}

section#lien > nav {
    padding: 3vh;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}

footer>div{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 5vh 0 5vh 0;
    
}
